{#{% extends "base.html" %}#}
{#{% load crispy_forms_filters %}#}
{##}
{#{% block content %}#}
{#  <h1>{{ object|yesno:"Update,Create" }} dish</h1>#}
{#  <form action="" method="post" novalidate>#}
{#    {% csrf_token %}#}
{#    {{ form|crispy }}#}
{##}
{#    <input type="submit" value="Submit" class="btn btn-primary">#}
{#  </form>#}
{#{% endblock %}#}


{% extends 'layouts/base_sections.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block header %}
{% endblock header %}
{% block content %}


  <section class="py-lg-7">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="card overflow-hidden mb-5">
            <div class="row">
              <div class="col-lg-7">
                <form
                    action=""
                    class="p-3"
                    id="dish-form"
                    method="post">
                  <div class="card-header px-4 py-sm-5 py-3">
                    <h2>{{ object|yesno:"Update,Create" }} Dish</h2>
                  </div>
                  <div class="card-body pt-1">
                    <div class="row">
                      {% csrf_token %}
                        {{ form|crispy }}


                    </div>
                    <div class="row">
                      <div class="col-md-6 text-end ms-auto">
                        <button
                            type="submit"
                            class="btn btn-round bg-gradient-info mb-0">
                          {{ object|yesno:"Update,Create" }}
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>


              <div
                  class="col-lg-5 position-relative bg-cover px-0"
                  style="background-image: url('{% static 'css/img/curved-images/curved5.jpg' %}')">
                <div class="position-absolute z-index-2 w-100 h-100 top-0 start-0 d-lg-block d-none">
                  <img
                      src="{% static 'css/img/wave-1.svg' %}"
                      class="h-100 ms-n2"
                      alt="vertical-wave">
                </div>

                <div class="z-index-2 text-center d-flex h-100 w-100 d-flex m-auto justify-content-center">
                  <div class="mask bg-gradient-info opacity-9"></div>
                  <div class="p-5 ps-sm-8 position-relative text-end my-auto z-index-2">

                    {% if object %}
                      <div class="">
                        <h3 class="text-white">{{ dish.name }} ({{ dish.dish_type.name }})</h3>
                        <p class="text-white opacity-8 mb-4">{{ dish.description }}</p>

                          <div class="ps-3 text-white">
                            <i class="fas fa-dollar-sign text-sm"></i>
                            {{ dish.price }}
                          </div>
                      </div>
                    {% endif %}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
{#{% load static %}#}
{#<script src="{% static 'css/js/load_more_ingred.js' %}"></script>#}
{% endblock javascripts %}