{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %}{% endblock title %}
{% block body %} class="blog-author" {% endblock body %}

{% block header %}
{% endblock header %}

{% block content %}
  <section class="py-sm-7 py-5 position-relative">
    <div class="container" id="cooks-container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5">
            <div class="col-lg-3 col-md-5 position-relative">
              <img
                  class="img border-radius-lg max-width-200 w-100 position-relative z-index-2"
                  src="{% static 'css/img/pixaby/cakes.jpg' %}"
                  alt="Cake om-nom-nom">
              <div class="text-start fs-5 fw-bolder ps-3 mt-5 mb-2">
                Cooks
              </div>
                <ul class="list-group list-group-flush">
                  {% for cook in dish.cooks.all %}
                      <li class="list-group-item">
                        <a href="{{ cook.get_absolute_url }}">
                          {% if cook.first_name and cook.last_name %}
                            {{ cook.first_name }} {{ cook.last_name }}
                            {% else %}
                            {{ cook.username }}
                          {% endif %}
                        </a>
                      </li>
                  {% endfor %}
                </ul>
              {% if dish in user.dishes.all %}
                <a
                    href="{% url 'kitchen:toggle-dish-assign' pk=dish.id %}"
                    class="btn btn-sm btn-outline-danger text-nowrap mt-3 link-to-page">
                    Delete me from this dish
                </a>
              {% else %}
                <a
                    href="{% url 'kitchen:toggle-dish-assign' pk=dish.id %}"
                    class="btn btn-sm btn-outline-success text-nowrap mt-3 link-to-page">
                    Assign me to this dish
                </a>
              {% endif %}
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">{{ dish.name }}</h4>
                <div class="d-block">
                  <a href="{% url 'kitchen:dish-update' pk=dish.id %}">
                    {% include "includes/update_btn.html" %}
                  </a>
                  <a href="#" class="openModalBtn">
                    {% include "includes/delete_btn.html" %}
                  </a>
                </div>
              </div>
              <div class="row mb-4">
                <div class="col-auto">
                  <span>Ingredients:</span>
                  <span class="h6">
                    <a
                        href="#"
                        class="text-info toggle-link"
                        data-target="ingredients-content">
                      {{ dish.ingredients.count }}
                    </a>
                  </span>
                  <br />
                  <span>Dish type:
                    <strong>{{ dish.dish_type }}</strong>
                  </span>
                  <br />
                  <span>Price:</span>
                  <span class="h6">
                    <i class="fas fa-dollar-sign text-sm">
                    </i>{{ dish.price }}
                  </span>
                </div>
              </div>
              <p class="text-lg mb-0">
                {{ dish.description }}
                <br/><br/>

                <div id="ingredients-content" style="display: none;">
                  {% for ingredient in dish.ingredients.all %}
                    <a
                        href="#"
                        class="text-info icon-move-right fw-bolder fs-6"
                        style="margin-top: 5px; display: inline-block;">
                        {{ ingredient.name }}
                    </a>
                    <br />
                  {% endfor %}
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'includes/confirm_delete_modal_dish.html' %}
{% endblock content %}

{% block footer %}
{% endblock footer %}

{% block javascripts %}
  <script src="/static/js/toggle_content_on_detail_page.js"></script>
  <script src="/static/js/delete_modal_cook_dish.js"></script>
  <script src="/static/js/toggle_hamburger_menu.js"></script>
{% endblock javascripts %}
