{#{% extends "base.html" %}#}
{##}
{#{% block content %}#}
{#  <h1>#}
{#    {{ dish.name }}#}
{#    <a href="{% url 'kitchen:dish-delete' pk=dish.id %}" class="btn btn-danger link-to-page">#}
{#      Delete#}
{#    </a>#}
{##}
{#    <a href="{% url 'kitchen:dish-update' pk=dish.id %}" class="btn btn-secondary link-to-page">#}
{#      Update#}
{#    </a>#}
{#  </h1>#}
{#  <p>#}
{#    Dish Type:#}
{#    ({{ dish.dish_type.name }})#}
{#  </p>#}
{#  <h1>#}
{#    Cooks#}
{##}
{#    {% if dish in user.dishes.all %}#}
{#      <a#}
{#          href="{% url 'kitchen:toggle-dish-assign' pk=dish.id %}"#}
{#          class="btn btn-danger link-to-page">#}
{#        Delete me from this dish#}
{#      </a>#}
{#    {% else %}#}
{#      <a#}
{#          href="{% url 'kitchen:toggle-dish-assign' pk=dish.id %}"#}
{#          class="btn btn-success link-to-page">#}
{#        Assign me to this dish#}
{#      </a>#}
{#    {% endif %}#}
{#  </h1>#}
{#  <hr>#}
{#  <ul>#}
{#    {% for cook in dish.cooks.all %}#}
{#      <li>{{ cook.username }} (#}
{#        {{ cook.first_name }} {{ cook.last_name }}#}
{#        )#}
{#      </li>#}
{#    {% endfor %}#}
{#  </ul>#}
{#{% endblock %}#}









{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block body %} class="blog-author" {% endblock body %}

{% block header %}
{% endblock header %}

{% block content %}


  <section class="py-sm-7 py-5 position-relative">
    <div class="container" id="cooks-container">
      <div class="row">
        <div class="col-12 mx-auto">
          <div class="row py-lg-7 py-5">
            <div class="col-lg-3 col-md-5 position-relative">
              <img
                  class="img border-radius-lg max-width-200 w-100 position-relative z-index-2"
                  src="{% static 'css/img/pixaby/cakes.jpg' %}"
                  alt="Cake om-nom-nom">
            </div>
            <div class="col-lg-7 col-md-7 z-index-2 position-relative px-md-2 px-sm-5 mt-sm-0 mt-4">
              <div class="d-flex justify-content-between align-items-center mb-2">
                <h4 class="mb-0">{{ dish.name }}</h4>
                <div class="d-block">
                  <a href="{% url 'kitchen:dish-update' pk=dish.id %}">
                    <button
                        type="button"
                        class="btn btn-sm btn-outline-warning text-nowrap mb-0"
                        style="margin-right: 30px;">
                      Update
                    </button>
                  </a>
                  <a href="#">
                    <button
                        type="button"
                        class="btn btn-sm btn-outline-danger text-nowrap mb-0"
                        id="openModalBtn">
                      Delete
                    </button>
                  </a>

                </div>
              </div>
              <div class="row mb-4">
                <div class="col-auto">
                  <span>Ingredients:</span>
                  <span class="h6">
                    <a
                        href="#"
                        class="text-info toggle-link"
                        data-target="ingredients-content"
                    >
                      {{ dish.ingredients.count }}
                    </a>

                  </span>
                  <br />
                  <span>Dish type:
                    <strong>{{ dish.dish_type }}</strong>
                  </span>
                  <br />
                  <span>Price:</span>
                  <span class="h6">
                    <i class="fas fa-dollar-sign text-sm">
                    </i>{{ dish.price }}
                  </span>


                  <span class="h6">
                    <a
                        href="#"
                        class="text-info toggle-link"
                        data-target="dishes-content"
                    >
                    </a>

                  </span>
                </div>
              </div>
              <p class="text-lg mb-0">
                {{ dish.description }}
                <br/><br/>

                <div id="ingredients-content" style="display: none;">
                  {% for ingredient in dish.ingredients.all %}
                    <a
                        href="#"
                        class="text-info icon-move-right"
                        style="margin-top: 5px; display: inline-block;">
                        {{ ingredient.name }}
                        <i class="fas fa-arrow-right text-sm ms-1"></i>
                    </a>
                    <br />
                  {% endfor %}
                </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% include 'includes/confirm_delete_modal_dish.html' %}
{% endblock content %}

{% block footer %}
{% endblock footer %}


{% block javascripts %}
  <script>
  function toggleContent(targetId) {
    const targetElement = document.getElementById(targetId);
    if (
        targetElement.style.display === 'none' || targetElement.style.display === ''
    ) {
      targetElement.style.display = 'block';
      localStorage.setItem(targetId, 'block');
    } else {
      targetElement.style.display = 'none';
      localStorage.setItem(targetId, 'none');
    }
  }

  document.addEventListener('DOMContentLoaded', () => {
    const toggleLink = document.querySelector('.toggle-link');
    const targetId = toggleLink.getAttribute('data-target');
    const storedState = localStorage.getItem(targetId);

    if (storedState) {
      document.getElementById(targetId).style.display = storedState;
    }

    toggleLink.addEventListener('click', (event) => {
      event.preventDefault();
      toggleContent(targetId);
    });
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var modal = document.querySelector('.modal');
    var openModalBtn = document.getElementById('openModalBtn');

    openModalBtn.addEventListener('click', function () {
      modal.style.display = 'block';
      document.body.style.overflow = 'hidden';

      const backdrop = document.createElement('div');
      backdrop.classList.add('modal-backdrop', 'fade', 'show');
      document.body.appendChild(backdrop);
    });

    modal.addEventListener('click', function (event) {
      if (event.target === modal || event.target.classList.contains('close')) {
        modal.style.display = 'none';
        document.body.style.overflow = 'auto';

        const backdrop = document.querySelector('.modal-backdrop');
        document.body.removeChild(backdrop);
      }
    });
  });
</script>
{% endblock javascripts %}
